<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="zig"
            id="org.ziglang.eclipse.zigSource"
            name="Zig"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.ziglang.eclipse.ZigEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            default="false"
            extensions="zig"
            icon="icons/zig16.png"
            id="org.ziglang.eclipse.ZigEditor"
            name="Zig Editor">
      </editor>
   </extension>
</plugin>
